@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");


body {
    font-family: "Montserrat", "san-serif";
    background-color: #e1e2e2;
}


.jumbotron {
    font-weight: bold;
    font-size: 2em;
    background-color: #CAD2C5;
    height: 8em;
    padding:1em;
    margin: 0 auto;
}

.lead {
    font-size: 30px;
}

.icon {
    color: #84A98C;
}

/* Google map parameters */

#map {
    height: 500px;  
    width: 100%;  
  }

#container-map {
    margin: 0, auto;
    max-width: 1130px;
}
/* Buttons */

.button {
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    background-color: #84A98C;
    text-align: center;
    padding: 1em .75em;
    text-decoration: none;
	font-size: 1.5em;
    margin: 0 auto;
    display: block;
}
#button-index {
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    background-color: #84A98C;
    text-align: center;
    padding: 1em .75em;
    text-decoration: none;
	font-size: 1.5em;
    margin: 0 auto;
    display: block;
}
.legend{
    position: relative;
    list-style: none;
    margin: 0, auto;
    padding: 0;
    max-width: 1130px;
}

.list-group-item {
    padding: 0; 
    margin: 0 auto;
}

.list-group-horizontal{
    margin: 0 auto;
}