@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");


body {
    font-family: "Montserrat", "san-serif";
    background-color: #ffffff;
}

/* Nav Bar */
#navigation{
    max-width: 100%;
    padding: 0;
    background-color: #76BA1B;
    justify-content: center;
}
.jumbotron {
    font-weight: bold;
    font-size: 2em;
    background-color: #ACDF87;
    height: 5,5em;
    padding:1em;
    margin: 0;
    color: #ffffff; 

}

.lead {
    font-size: 30px;
    margin:0;
}

.icon {
    color: #1e5631;
}

#wrapper-overview {
    background-color: #76BA1B;
}


/* Google map parameters */

#map {
    height: 500px;  
    width: 100%;  
  }

#container-map {
    margin: 0, auto;
    max-width: 1130px;
}
/* Buttons */

.wrapper {
    text-align: center;
    padding: 20px;
}

.button1{
    background-color:  #76BA1B;
    padding: 15px; 
    border: 3px solid #ffffff;
    transition: .6s;
    min-width: 100px;
    border-radius: 10px;
}
#button1 {
    color:#ffffff;
    font-size: 25px
}
/*
#button-container{
    margin-left: 0;
    margin-right: 0;
}

#button-index{
    box-sizing: border-box;
    border-radius: 4px;
    background-color:#76BA1B;
    color: #ffffff;
    text-align: center;
    padding: 1em .75em;
    text-decoration: none;
	font-size: 1.5em;
    margin: 0 auto;
    display: block;
}
*/

.legend{
    position: relative;
    list-style: none;
    margin: 0, auto;
    padding: 0;
    max-width: 1130px;
}

.list-group-item {
    padding: 0; 
    margin: 0 auto;
}

.list-group-horizontal{
    margin: 0 auto;
}