@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap:400,500');

#map {
    height: 600px;  /* The height is 400 pixels */
    width: 100%;  
};

.legend{
    float: left;
    list-style: none;
    margin: 6px 0px 5px 4px;
    padding: 0px;
};
    
.jumbotron {
    font-family: "Playfair Display", "san-serif";
    font-weight: bold;
    font-size: 5em;
};

.lead {
    color: red;
}

